In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv("TV.csv")
df.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Croma,4.2,1773,217,7990,20000,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,1 Year Warranty
1,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate

### Q1.

In [3]:
df_q1 = df[["Frequency", "Picture_quality", "Speaker"]].copy()
df_q1.head(2)

            Frequency             Picture_quality              Speaker
0     1 Year Warranty          60 Hz Refresh Rate   2 x HDMI | 2 x USB
1  60 Hz Refresh Rate  HD Ready 1366 x 768 Pixels  20 W Speaker Output

In [8]:
# ser_u = pd.Series(df_q1["Frequency"].unique())
# ser_u = pd.Series(df_q1["Picture_quality"].unique())
ser_u = pd.Series(df_q1["Speaker"].unique())
ser_u[ser_u.str.contains("Hz")]

19     60 Hz Refresh Rate
31     50 Hz Refresh Rate
41    200 Hz Refresh Rate
46    120 Hz Refresh Rate
47    100 Hz Refresh Rate
dtype: object

In [13]:
# df_q1["hz_1"] = df_q1["Frequency"].str.contains("Hz") + 0
df_q1["hz_1"] = df_q1["Frequency"      ].str.contains("[0-9]{2,3} Hz") + 0
df_q1["hz_2"] = df_q1["Picture_quality"].str.contains("[0-9]{2,3} Hz") + 0
df_q1["hz_3"] = df_q1["Speaker"        ].str.contains("[0-9]{2,3} Hz") + 0

In [15]:
df_q1.head(2)

,Frequency,Picture_quality,Speaker,hz_1,hz_2,hz_3
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,0,1,0
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0

In [17]:
df_q1.loc[:, "hz_1":"hz_3"].sum(axis = 1).value_counts()

1    662
0      4
Name: count, dtype: int64

In [18]:
df_q1 = df_q1.loc[df_q1.loc[:, "hz_1":"hz_3"].sum(axis = 1) != 0, ]
len(df_q1)

662

In [20]:
# df_q1["cnt_60hz"] = df_q1.loc[:, :"Speaker"].apply(lambda x: x.str.contains("60 Hz"),
#                                                    axis = 1)
tx_regex = "[^0-9]60 Hz|^60 Hz"
df_q1["cnt_60hz"] = df_q1.loc[:, :"Speaker"].apply(lambda x: x.str.contains(tx_regex).sum(),
                                                   axis = 1)

In [21]:
df_q1.head(2)

,Frequency,Picture_quality,Speaker,hz_1,hz_2,hz_3,cnt_60hz
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,0,1,0,1
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0,1

In [22]:
# 만약 60 Hz가 2개 이상 있었다면 2 이상이 확인되었겠지만 본 데이터에서는 1개 밖에 없었음.
df_q1["cnt_60hz"].value_counts()

cnt_60hz
1    510
0    152
Name: count, dtype: int64

In [12]:
df_q1.apply(lambda x: x.str.contains("60 Hz").sum(), axis = 1).value_counts()[1]

510

### Q2.

In [23]:
df_q2 = df[["Stars", "Operating_system", "channel", "Picture_quality"]].copy()
df_q2.head(2)

,Stars,Operating_system,channel,Picture_quality
0,4.2,20 Speaker Output,HD Ready 1366 x 768 Pixels,60 Hz Refresh Rate
1,3.8,Operating System: Android Based,Netflix|Disney+Hotstar|Youtube,HD Ready 1366 x 768 Pixels

In [26]:
# ser_u = pd.Series(df_q2["Operating_system"].unique())
# ser_u = pd.Series(df_q2["channel"].unique())
ser_u = pd.Series(df_q2["Picture_quality"].unique())
ser_u[ser_u.str.contains("4K|8K")]

2                      Ultra HD (4K) 3840 x 2160 Pixels
4     Ultra HD (4K) Crystal 4K FE UHD (3840 x 2160) ...
7                        Ultra HD (4K) 3840×2160 Pixels
9                      Ultra HD (4K) 3860 x 2160 Pixels
10                       Ultra HD (4K) 3840X2160 Pixels
12                     Ultra HD (4K) 3840 × 2160 Pixels
13                       Ultra HD (4K) 3840*2160 Pixels
14                       Ultra HD (4K) 3840x2160 Pixels
28                     Ultra HD (8K) 7680 x 4320 Pixels
34                     Ultra HD (4K) 3840 � 2160 Pixels
dtype: object

In [27]:
df_q2["cnt_4k"] = df_q2.iloc[:, [1, 2, 3]].apply(lambda x: x.str.contains("4K").sum(),
                                                 axis = 1)
df_q2["cnt_8k"] = df_q2.iloc[:, [1, 2, 3]].apply(lambda x: x.str.contains("8K").sum(),
                                                 axis = 1)

In [29]:
df_q2.head(2)

,Stars,Operating_system,channel,Picture_quality,cnt_4k,cnt_8k
0,4.2,20 Speaker Output,HD Ready 1366 x 768 Pixels,60 Hz Refresh Rate,0,0
1,3.8,Operating System: Android Based,Netflix|Disney+Hotstar|Youtube,HD Ready 1366 x 768 Pixels,0,0

In [32]:
df_q2["cnt_4k"].value_counts(), df_q2["cnt_8k"].value_counts()

In [33]:
stat_4k = df_q2.loc[df_q2["cnt_4k"] >= 1, "Stars"].mean()
stat_8k = df_q2.loc[df_q2["cnt_8k"] >= 1, "Stars"].mean()
stat_4k, stat_8k

(3.2180821917808218, 3.6)

In [34]:
round(abs(stat_4k - stat_8k), 2)

0.38

### Q3.

In [ ]:
df_q3 = df.loc[~df["channel"].str.contains("Pixel|Oper"), ].reset_index(drop = True)
df_q3.head(2)

In [36]:
df_q3["x1"] = df_q3["Reviews"] / df_q3["Ratings"]
df_q3["x2"] = df_q3["MRP"]
df_q3["x3"] = df_q3["current_price"] / df_q3["MRP"]
df_q3["x4"] = df_q3["channel"].str.contains("Netflix") + 0
df_q3["x5"] = df_q3["channel"].str.contains("Prime Video") + 0
df_q3["x6"] = df_q3["Picture_quality"].str.contains("4K|8K") + 0

In [40]:
df_q3.head(2)

In [45]:
df_q3_sub = df_q3[["Stars", "x1", "x2", "x3", "x4", "x5", "x6"]]
df_q3_sub.head(1)

   Stars        x1     x2        x3  x4  x5  x6
0    3.8  0.137941  21999  0.395427   1   0   0

In [46]:
len(df_q3_sub)

548

In [44]:
df_q3_sub.isna().sum()

In [48]:
df_model = df_q3_sub.dropna()
len(df_model)

197

In [ ]:
model = RandomForestRegressor(random_state = 123)
model.fit(X = df_model.drop(columns = "Stars"),
          y = df_model["Stars"])

In [51]:
model.feature_importances_

array([0.31220617, 0.17383963, 0.4446912 , 0.02714087, 0.02400442,
       0.01811773])

In [53]:
ser_f = pd.Series(model.feature_importances_, index = df_model.columns[1:])
ser_f

x1    0.312206
x2    0.173840
x3    0.444691
x4    0.027141
x5    0.024004
x6    0.018118
dtype: float64

In [54]:
ser_f.idxmax() # 할인율

'x3'